{% load static %}
<html>
<head>
  <title>{% block title %}InkPot Co.{% endblock %}</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
  <link rel="stylesheet" href="{% static 'styles.css' %}">
  <style>
    html {
      position: relative;
      min-height: 100%;
    }
    body {
      margin-bottom: 60px; /* Adjust this value based on your footer height */
    }
    footer {
      position: absolute;
      bottom: 0;
      width: 100%;
      height: 60px; /* Adjust this value based on your footer height */
      background-color: #343a40; /* Customize the footer background color */
      color: #f8f9fa; /* Customize the footer text color */
      padding: 15px;
    }
  </style>
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container">
    <a class="navbar-brand" href="{% url 'home' %}">
      InkPot Co.
    </a>

    <ul class="navbar-nav ml-auto">
        <li class="nav-item">
            <a class="nav-link" href="{% url 'home' %}">Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'shopping_cart' %}">Shopping Cart</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'contact' %}">Contact Us</a>
        </li>
        {% if user.is_authenticated %}
            <li class="nav-item">
                <a class="nav-link" href="{% url 'logout' %}">Logout</a>
            </li>
        {% else %}
            <li class="nav-item">
                <a class="nav-link" href="{% url 'login' %}">Login</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'register' %}">Register</a>
            </li>
        {% endif %}
    </ul>
  </div>
</nav>

<div class="container mt-4">
  {% block content %}
  {% endblock %}
</div>

<footer>
  <div class="container text-center">
    All rights reserved. Contact us at contact@inkpotco.com.
  </div>
</footer>

</body>
</html>
